<section class="sidebar">
	<div ng-controller="MenuCtrl">
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MENU PRINCIPAL</li>
			<li ng-if="menuDashboard">
				<a ui-sref="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
			</li>
			 
			<li ng-if="menuIntegracao">
				<a ui-sref="integracao"><i class="fa fa-refresh"></i> <span>Integrações</span></a>
			</li>
			<li ng-if="menuAutomacao">
				<a ui-sref="automacao"><i class="fa fa-cogs"></i> <span>Automações</span></a>
			</li>
			
			<li class="treeview">
				<a href="#"><i class="fa fa-edit"></i> <span>Cadastros</span>
			    <span class="pull-right-container">
			       <i class="fa fa-angle-left pull-right"></i>
			    </span>
			  </a>
			  <ul class="treeview-menu" style="display: block;">
					<li ng-if="menuUsuario"><a ui-sref="usuario"><i class="fa fa-user"></i> Usuários</a></li>
					<li><a ui-sref="usuario"><i class="fa fa-user"></i> Usuários</a></li>
			  </ul>
			</li>
		</ul>
	<div>
</section>
