<!DOCTYPE html>
<content-header name="Entregas"></content-header>
<section class="content">
  <div class="row" ng-controller="entregasCtrl">
    <div class="col-xs-12">
      <div class="box">
        <div class="row">
          <div class="col-sm-6">
            <div class="input-group input-group-sm margin pull-left">
              <input type="text" class="form-control" ng-model="filter" ng-enter="filterBrowse(filter)">
              <span class="input-group-btn">
                <button class="btn btn-info btn-flat btn-sm" ng-click="filterBrowse(filter)">Buscar!</button>
              </span>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group margin pull-right">
              <button class="btn btn-default btn-sm" ng-click="limpaFiltros()"><i class="fa fa-ban"></i>
                Limpar Filtros</button>
            </div>
          </div>
          <div class="nav-tabs-custom">
            <ul class="nav nav-tabs">
              <li ng-class="{active: true}">
                <a href data-target="#tabFiltro" data-toggle="tab">
                  Filtros
                </a>
              </li>
              <!-- <li>
                <a href data-target="#tabData" data-toggle="tab">
                  Datas
                </a>
              </li> -->
            </ul>
            <div class="tab-content">
              <div class="tab-pane" id="tabFiltro" ng-class="{active: true}">
                <div class="box-body">
                  <div class="row">
                    <div class="col-lg-2 col-xs-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Perfil:</label>
                          <select ng-change="getEntregas()" ng-model="filtro.PERFIL" name="filtro.PERFIL"
                            id="filtro.PERFIL" class="form-control">
                            <option ng-repeat="option in perfils" value="{{option.PERFIL}}">{{option.PERFIL}}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-xs-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Cliente:</label>
                          <select ng-change="getEntregas()" ng-model="filtro.RAZAO_SOCIAL" name="filtro.RAZAO_SOCIAL"
                            id="filtro.RAZAO_SOCIAL" class="form-control">
                            <option ng-repeat="option in clientes" value="{{option.RAZAO_SOCIAL}}">
                              {{option.RAZAO_SOCIAL}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-xs-4">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Score:</label>
                          <select ng-change="refreshPedido()" ng-model="filtro.SCORE_TOTAL" name="filtro.SCORE_TOTAL"
                            id="filtro.SCORE_TOTAL" class="form-control">
                            <option ng-repeat="option in entregas" value="{{option.SCORE_TOTAL}}">{{option.SCORE_TOTAL}}
                            </option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-xs-3">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Entrega de:</label>
                          <div class="input-group-xs">
                            <input type="date" ng-change="getEntrgas()" ng-model="filtro.dataEntregaDe"
                              id="filtro.dataEntregaDe" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-2 col-xs-3">
                      <div class="col-xs-12">
                        <div class="form-group">
                          <label>Entrega até:</label>
                          <div class="input-group-xs">
                            <input type="date" ng-change="getEntrgas()" ng-model="filtro.dataEntregaAte"
                              id="filtro.dataEntregaAte" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="tab-pane" id="tabData">
                <div class="box-body">
                  <div class="row">
                    
                  </div>
                </div>
              </div> -->
            </div>
          </div>
          <div class="box-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive">
                  <table class="table table-condensed">
                    <thead>
                      <tr>
                        <th>Nota Fiscal</th>
                        <th>Valor Bruto</th>
                        <th>Cliente</th>
                        <th>Documento (CNPJ/CPF)</th>
                        <th>Perfil</th>
                        <th>Data Entrega</th>
                        <th style="text-align: center;">Score Lucro</th>
                        <th style="text-align: center;">Score Prazo</th>
                        <th style="text-align: center;">Score Satisfação</th>
                        <th style="text-align: center;">Score Itens Faltantes</th>
                        <th style="text-align: center;">Score Intens Avariados</th>
                        <th style="text-align: center;">Score Total</th>
                        <th style="text-align: center;">Classificação</th>
                        <!-- <th>Ações</th> -->
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="entrega in entregas">
                        <td>{{:: entrega.NUMERO_NOTA}}</td>
                        <td>R$ {{:: entrega.VALOR_BRUTO}}</td>
                        <td>{{:: entrega.RAZAO_SOCIAL}}</td>
                        <td>{{:: entrega.CPF_CNPJ}}</td>
                        <td>{{:: entrega.PERFIL}}</td>
                        <td>{{:: entrega.DT_ENTREGA}}</td>
                        <td style="text-align: center;">{{:: entrega.SCORE_CALCULADO}}</td>
                        <td style="text-align: center;">{{:: entrega.SCORE_PRAZO}}</td>
                        <td style="text-align: center;">{{:: entrega.SCORE_SATISFACAO}}</td>
                        <td style="text-align: center;">{{:: entrega.SE_FALTANTE}}</td>
                        <td style="text-align: center;">{{:: entrega.SE_AVARIADO}}</td>
                        <td style="text-align: center;">{{:: entrega.SCORE_TOTAL}}</td>
                        <td style="text-align: center;">{{:: entrega.CLASSIFICACAO}}</td>
                        <!-- <td style="width:165px;">
                        <button title="Visualizar" class="btn btn-info btn-sm" ng-click="showTabView(pedido)"><i
                            class="fa fa-eye"></i></button>
                      </td> -->
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-content">
            <div class="tab-pane" id="tabView" ng-if="(tabView && !tabLoading && !tabSearch)"
              ng-class="{active: tabView}" ng-include="'pedido/form.html'">
            </div>
            <div class="tab-pane" id="tabUpdate" ng-if="(tabUpdate && !tabLoading && !tabSearch)"
              ng-class="{active: tabUpdate}" ng-include="'pedido/form.html'">
            </div>
            <div class="tab-pane" id="tabInvoice" ng-if="(tabInvoice && !tabLoading && !tabSearch)"
              ng-class="{active: tabInvoice}" ng-include="'pedido/formInvoice.html'">
            </div>
            <div class="tab-pane" id="tabDelivery" ng-if="(tabDelivery && !tabLoading && !tabSearch)"
              ng-class="{active: tabDelivery}" ng-include="'pedido/formDelivery.html'">
            </div>
            <div class="tab-pane" id="tabConcluded" ng-if="(tabConcluded && !tabLoading && !tabSearch)"
              ng-class="{active: tabConcluded}" ng-include="'pedido/formConcluded.html'">
            </div>
            <div class="tab-pane" id="tabCanceled" ng-if="(tabCanceled && !tabLoading && !tabSearch)"
              ng-class="{active: tabCanceled}" ng-include="'pedido/formCanceled.html'">
            </div>
            <div class="tab-pane" id="tabLoading" ng-if="tabLoading" ng-class="{active: tabLoading}"
              ng-include="'template/loading/loading.html'">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>