<div role="form">
  <div class="row">
    <div class="col-sm-6">
      <div class="input-group input-group-sm margin pull-left">
        <input type="text" class="form-control" ng-model="textFilterSearch" ng-enter="filterSearch('produto',textFilterSearch)">
        <span class="input-group-btn">
          <button class="btn btn-info btn-flat btn-sm" ng-click="filterSearch('produto',textFilterSearch)">Buscar!</button>
        </span>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="margin pull-right">
        <button class="btn btn-warning btn-sm" ng-click="eraseSearch('produto')">Limpar</button>
        <button class="btn btn-default btn-sm" ng-click="cancelSearch()">Cancelar</button>
      </div>
    </div>
  </div>
  <div class="box-body">
    <div class="row">
      <div class="col-xs-12">
        <table class="table">
          <thead>
            <tr>
              <th>Código</th>
              <th>Nome</th>
              <th style="text-align:center">Status</th>
              <th style="text-align:center">Data Criação</th>
              <th style="text-align:center">Ultima Atualização</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="produto in produtos">
              <td>{{:: produto.codigo }}</td>
              <td>{{:: produto.nome }}</td>
              <td style="text-align:center"><small class="label bg-{{:: cbStatus[buscaIndex(cbStatus,produto.status)].cor }}">{{:: cbStatus[buscaIndex(cbStatus,produto.status)].nome }}</small></td>
              <td style="text-align:center">{{:: formatDate(produto.dataCriacao) }}</td>
              <td style="text-align:center">{{:: formatDateTime(produto.ultimaAtualizacao) }}</td>
              <td style="width:85px;">
                <button class="btn btn-primary btn-sm" ng-click="checkSearch('produto',$index)"><i class="fa fa-check"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
