<!DOCTYPE html>
<section class="sidebar">
		<ul class="sidebar-menu" data-widget="tree">
			<li class="header">MENU PRINCIPAL</li>
			<li>	
				<a ui-sref="dashboard"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
			</li>
			 
			<li ng-if="menuIntegracao">
				<a ui-sref="integracao"><i class="fa fa-refresh"></i> <span>Integrações</span></a>
			</li>
			<li ng-if="menuAutomacao">
				<a ui-sref="automacao"><i class="fa fa-cogs"></i> <span>Automações</span></a>
			</li>
			<li>
				<a ui-sref="usuario"><i class="fa fa-user"></i> Usuários</a>
			</li>
		</ul>
</section>
